/*
todo:

*/



* {
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 36px;
}

body {
    background-color: #FAF4F4;
}

header {
    padding-top: 20px;
    padding-left: 20px;
    /* width: 620px; */
    text-align: center;
}

main {
    margin: 20px;
}

#pad-frame {
    border: solid;
    border-width: 5px;
    border-color: purple;
    width: 620px;
    height: 620px;
}

#button-bar {
    height: 620px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 80px;
    margin-right: 0;
}

button, #finish-button {
    margin-left: auto;
    margin-right: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(251, 181, 206);
    border: none;
    border-radius: 100px;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#undo-button, #background-button, #finish-button {
    /* margin-top: 10px;
    margin-bottom: 10px; */
    width: 280px;
    height: 80px;
}


#brush-button, #eraser-button {
    background-color: transparent;
}


#brush-button {
    margin-left: 0;
}

#undo-button {
    background-color: #D7C9C9;
    color: #443E3E;
}

#undo-img {
    margin-right: 30px;
    vertical-align: middle;
}

#undo-button:hover {
    background-color: pink;
}

#undo-button:active {
    background-color: #CDCDCD;
}

#background-button:hover {
    opacity: 80%;
}

#background-colours {
    list-style-type: none;
    display: none;
}

#background-colours > li {
    display: inline-block;
    padding: 20px;
    margin: 3px;
    border-radius: 100px;
    cursor: pointer;
    transition: padding 0.15s ease-in-out, margin 0.15s ease-in-out;
}

#background-colours > li:hover {
    padding: 23px;
    margin: 0;
}

#pink {
    background-color: rgb(251, 181, 206);
}

#red {
    background-color: rgb(249, 124, 124);
}

#yellow {
    background-color: rgb(246, 196, 81);
}

#green {
    background-color: rgb(58, 160, 117);
}

#blue {
    background-color: rgb(105, 158, 221);
}

#finish-button {
    background-color: #353641;
    color: #FAF4F4;
    margin-bottom: 0;
}

#finish-button > p {
    position: relative;
    top: 25%;
}

#finish-button:hover {
    opacity: 80%;
}

#finish-button:active {
    background-color: black;
}