body {
    background-color: #FAF4F4;
}

#logo {
    width: 70%;
    height: 70%;
    position: absolute;
    /*
        This should probably be done dynamically
        15% = 50% - width / 2 (35%)
        15% = 50% - height / 2 (35%)
    */
    top: 15%;
    left: 15%;

    opacity: 0;
    animation-name: logoFade;
    animation-duration: 6s;
}

@keyframes logoFade {
    0% {opacity: 0;}
    33% {opacity: 1;}
    66% {opacity: 1;}
    100% {opacity: 0;}
}