/*
todo:
- Have the content in the middle of the screen stay fairly still
    - Image size does not shift around the progress bar
- Get started button outline?? (where does it come from)
- Maybe make progress bar out of 3 and remove for final page
*/



* {
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-color: #FAF4F4;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#onboarding-img {
    width: 65%;
    height: 65%;
}

#welcome {
    font-size: 200%;
}

#main-text {
    font-size: 150%;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#onboarding-progress {
    padding: 0;
    margin: 0;
}

#onboarding-progress > li {
    background-color: #F97C7C;
    opacity: 30%;
    display: inline-block;
    padding: 8px;
    margin: 10px;
    border-radius: 100%;
}

#next-button {
    position: absolute;
    bottom: 10%;
    right: 10%;
    font-size: 150%;
}

#next-button:hover {
    cursor: pointer;
}

#arrow {
    width: 20%;
    height: 20%;
}

#get-started {
    background-color: #353641;
    color: #FAF4F4;
    font-weight: bold;
    font-size: 30px;
    padding: 20px 40px 20px 40px;
    border-radius: 100px;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 2px;
    transition: all 0.2s ease-in-out;
    margin-top: 0;
    margin-bottom: 40px;
}

#get-started > p {
    position: relative;
    top: 25%;
}

#get-started:hover {
    opacity: 80%;
}

#get-started:active {
    background-color: black;
}