/*
todo:
- have the content in the middle of the screen stay fairly still
    - Image size does not shift around the progress bar
- maybe make progress bar positioned absolutely
*/



* {
    font-family: Manrope;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body {
    background-color: #FAF4F4;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#onboarding-img {
    width: 65%;
    height: 65%;
}

#welcome {
    font-size: 200%;
}

#main-text {
    font-size: 24px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    width: 50%;
}

#onboarding-progress {
    padding: 0;
    margin: 0;
}

#onboarding-progress > li {
    background-color: #F97C7C;
    opacity: 30%;
    display: inline-block;
    padding: 8px;
    margin: 10px;
    border-radius: 100%;
}

#back-button, #next-button {
    position: absolute;
    font-size: 150%;
    bottom: 10%;
}

#back-button {
    left: 10%;

    display: none;
}

#next-button {
    right: 10%;
}

#back-button:hover, #next-button:hover {
    cursor: pointer;
}

#back-arrow, #next-arrow {
    width: 20%;
    height: 20%;
}

#back-arrow {
    transform: rotate(180deg);
}

#get-started {
    background-color: #353641;
    color: #FAF4F4;
    font-weight: bold;
    font-size: 30px;
    padding: 20px 40px 20px 40px;
    border-radius: 100px;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 2px;
    transition: all 0.2s ease-in-out;
    margin-top: 0;
    margin-bottom: 40px;

    display: none;
}

#get-started > p {
    position: relative;
    top: 25%;
}

#get-started:hover {
    opacity: 80%;
}

#get-started:active {
    background-color: black;
}