/* 
todo:
- resize prompt fontsize for scaling
- accomodate resizing with background
*/



* {
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-color: #FAF4F4;
}

#back-button {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 150%;
}

#back-button:hover {
    cursor: pointer;
}

#arrow {
    width: 20%;
    height: 20%;
    transform: rotate(180deg);
}

main {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#top-text {
    color: #F97C7C;
    font-size: 150%;
    font-weight: 500;
    margin:0;
    padding:0;
}

#prompt {
    width: 90%;
    font-size: 300%;
    font-weight: 800;
    letter-spacing: 2px;
    margin:0;
    padding:0;
}

#prompt-img {
    position:absolute;
    width: 100%;
    height: 90%;
    top: 10%;
    left: 0;
    overflow-y: hidden;
}

#start-drawing-container {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
}

#start-drawing {
    background-color: #353641;
    color: #FAF4F4;
    font-weight: bold;
    font-size: 24px;
    padding: 15px 50px 15px 50px;
    border-radius: 100px;
    border: none;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    transition: all 0.2s ease-in-out;
    margin-top: 0;
    margin-bottom: 40px;
}

#start-drawing:hover {
    opacity: 80%;
    cursor: pointer;
}